<footer class="black-bg">
    <div class="container">
      <div class="space-80"></div>
      <div class="row text-white wow fadeIn">
        <div class="col-xs-12 text-center">
          <div class="social-menu">
            <a href="https://www.instagram.com/f5sites/">
              <span class="ti-instagram"></span>
            </a>
            <a href="https://web.facebook.com/f5sites/">
              <span class="ti-facebook"></span>
            </a>
            <!--a href="#"><span class="ti-twitter-alt"></span></a-->
            <a href="https://www.linkedin.com/company/627006/admin/">
              <span class="ti-linkedin"></span>
            </a>
            <!--a href="#"><span class="ti-pinterest-alt"></span></a-->
          </div>
          <div class="space-20"></div>
          <p>
            {{ t("footer.year") }}
            <a href="https://www.f5sites.com">{{ t("footer.f5Sites") }}</a>
            {{ t("footer.allRightsReserved") }}. {{ t("footer.pageOf") }}
            <a href="https://www.franciscomatelli.com.br">{{
              t("footer.franciscoMatelli")
            }}</a>
          </p>
        </div>
      </div>
      <div class="space-20"></div>
    </div>
</footer>