<footer class="black-bg">
  <a href="https://wa.me/393509973657?text=Olá%20gostaria%20de%20mais%20informações%20sobre%20a%20Metodologia%20F5%20e%20os%20serviços%20da%20F5%20Sites" class="fa-zapbot-icon" target="_blank">
    <!-- <span class="fa-solid fa-up-long"></span> -->
    <span class="fa-brands fa-whatsapp"></span>
  </a>
  <div class="container">
    <div class="space-80"></div>
    <div class="row text-white wow fadeIn">
      <div class="col-xs-12 text-center">
        <div class="social-menu">
          <a href="https://www.youtube.com/@f5sites" target="_blank" rel="noopener">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.tiktok.com/@f5sites" target="_blank" rel="noopener">
            <i class="fa-brands fa-tiktok"></i>
          </a>
          <a href="https://www.instagram.com/f5sites/" target="_blank" rel="noopener">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://web.facebook.com/f5sites/" target="_blank" rel="noopener">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.linkedin.com/company/f5sites" target="_blank" rel="noopener">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="space-20"></div>
        <p>
          2025
          <a href="https://www.f5sites.com">{{ t("footer.f5Sites") }}</a>
          {{ t("footer.allRightsReserved") }}. {{ t("footer.pageOf") }}
          <a href="https://www.franciscomatelli.com.br">{{ t("footer.franciscoMatelli") }}</a>
        </p>
      </div>
    </div>
    <div class="space-20"></div>
  </div>
</footer>
