<app-navbar></app-navbar>

<ng-container *transloco="let t" >
  <!--Header-Area-->
  <header class="blue-bg relative fix" id="home">
    <div class="section-bg overlay-bg angle-bg ripple jquery-ripples"></div>
    <!-- <app-navbar></app-navbar> -->
    <div class="space-100"></div>
    <div class="space-20 hidden-xs"></div>
    <!--Header-Text-->
    <div class="container text-white">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center text-uppercase" style="font-size: 40px; white-space: pre-line;">{{ t("header.subtitle") }}</h1>
          </div>
          <p class="col-xs-12 text-center" style="font-size: 22px; white-space: pre-line; line-height: 1.8;">
            {{ t("header.description") }}
          </p>
          <div class="space-20"></div>
          <div class="video-wrapper">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe 
                class="embed-responsive-item" 
                src="https://www.youtube.com/embed/a_fvKs0vB9k?si=Fj9fB8U_GLsdM28i" 
                title="Vídeo PT" 
                allowfullscreen
                [hidden]="currentLang !== 'br'">
              </iframe>
              <iframe 
                class="embed-responsive-item" 
                src="https://www.youtube.com/embed/_x-AE0KEwjs?si=zbrRQ01eZ8vc5DKF" 
                title="Vídeo ES" 
                allowfullscreen
                [hidden]="currentLang !== 'es'">
              </iframe>
              <iframe 
                class="embed-responsive-item" 
                src="https://www.youtube.com/embed/_x-AE0KEwjs?si=zbrRQ01eZ8vc5DKF" 
                title="Vídeo IT" 
                allowfullscreen
                [hidden]="currentLang !== 'it'">
              </iframe>
              <iframe 
                class="embed-responsive-item" 
                src="https://www.youtube.com/embed/_x-AE0KEwjs?si=zbrRQ01eZ8vc5DKF" 
                title="Vídeo EN" 
                allowfullscreen
                [hidden]="currentLang !== 'en'">
              </iframe>
            </div>
          </div>
          <div class="space-20"></div>
          <!-- <p class="text-center col-md-8 col-md-offset-2" style="font-size: 20px; white-space: pre-line; line-height: 1.4;">
            {{ t("header.title") }}
          </p> -->
          <div class="space-20"></div>
          <!-- <a
            [routerLink]="['/', language]"
            fragment="contact"
            class="btn btn-warning text-uppercase"
            style="padding: 12px 22px 14px 22px; 
                  margin-left:6px;
                  font-size:18px"
          >
            <i class="fa-solid fa-phone-flip"
            style="position: relative;
                  font-size: 24px;
                  bottom: -2px;
                  padding-right: 5px;"></i> {{ t("header.contact") }}
          </a> -->
        </div>
      </div>
      <div class="space-80"></div>
    </div>
    <!--Header-Text/-->
  </header>
  <!--Header-Area/-->

  <!--Work-Section-->
  <section id="work">
      <div class="space-20"></div>
      <div class="container">
          <div class="row wow fadeInUp">
              <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                  <h3 class="text-uppercase">{{ t("work.title") }}</h3>
                  <p>{{ t("work.description") }}</p>
              </div>
            </div>
            <p class="text-center">
              
              <a class="btn btn-warning text-uppercase"
                 style="
                    background: #25D366;
                    color:#FFF;
                    padding: 12px 22px 14px 22px; 
                    margin-left:6px;
                    font-size:18px;
                  " 
                 href="https://wa.me/393509973657?text=Olá%2C%20vim%20pelo%20site%20da%20F5%20Sites%20e%20gostaria%20de%20agendar%20uma%20reunião" target="_blank">
                <span class="fa-brands fa-whatsapp" 
                  style="
                    color: #FFF;
                    position: relative;
                    font-size: 24px;
                    bottom: -2px;
                    padding-right: 5px;
                  "></span>
                {{ t("header.contact") }}
              </a>
              <!-- <a
                [routerLink]="['/', language]"
                fragment="contact"
                class="btn btn-warning text-uppercase"
                style="padding: 12px 22px 14px 22px; 
                      margin-left:6px;
                      font-size:18px"
              >
                <i class="fa-solid fa-phone-flip"
                style="position: relative;
                      font-size: 24px;
                      bottom: -2px;
                      padding-right: 5px;"></i> {{ t("header.contact") }}
              </a> -->
            </p>
          <div class="space-20"></div>
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.2s">
                  <div class="hover-shadow">
                      <p class="md-icon" style="font-size: 50px"><span class="fa-solid fa-1 fa-icon-square"></span></p>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">{{ t("work.step1.title") }}</h5>
                      <p>{{ t("work.step1.description") }}</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.4s">
                  <div class="hover-shadow">
                      <p class="md-icon" style="font-size: 50px"><span class="fa-solid fa-2 fa-icon-square"></span></p>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">{{ t("work.step2.title") }}</h5>
                      <p>{{ t("work.step2.description") }}</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.6s">
                  <div class="hover-shadow">
                      <p class="md-icon" style="font-size: 50px"><span class="fa-solid fa-3 fa-icon-square"></span></p>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">{{ t("work.step3.title") }}</h5>
                      <p>{{ t("work.step3.description") }}</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 text-center wow fadeInUp" data-wow-delay="0.8s">
                  <div class="hover-shadow">
                      <p class="md-icon" style="font-size: 50px"><span class="fa-solid fa-4 fa-icon-square"></span></p>
                      <div class="space-20"></div>
                      <h5 class="text-uppercase">{{ t("work.step4.title") }}</h5>
                      <p>{{ t("work.step4.description") }}</p>
                  </div>
              </div>
          </div>
          <div class="space-60"></div>
          <div class="row">
              <div class="col-xs-12 col-md-8 col-md-offset-2 text-center wow fadeInUp">
                  <div class="down-offset ">
                      <img src="https://d1ih8jugeo2m5m.cloudfront.net/2025/01/pequenos-negocios-1200x685.webp" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--Blobs-->
  <section class="section-video relative fix" id="blobs">
    <div class="section-bg overlay-bg alpha"></div>
    <div class="space-80"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
          <div class="well well-hover text-center">
            <p class="md-icon" style="font-size: 50px">
              <span class="fa-solid fa-mobile-screen-button fa-icon-square2"></span>
            </p>
            <div class="space-2"></div>
            <h5 class="text-uppercase" style="font-size: 22px">
              {{ t("sectionBlobs.blob1.title") }}
            </h5>
            <p>{{ t("sectionBlobs.blob1.description") }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.6s">
          <div class="well well-hover text-center">
            <p class="md-icon" style="font-size: 50px">
              <span class="fa-brands fa-whatsapp fa-icon-square2"></span>
            </p>
            <div class="space-2"></div>
            <h5 class="text-uppercase" style="font-size: 22px">
              {{ t("sectionBlobs.blob2.title") }}
            </h5>
            <p>{{ t("sectionBlobs.blob2.description") }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="well well-hover text-center">
            <p class="md-icon" style="font-size: 50px">
              <span class="fa-solid fa-cart-plus fa-icon-square2"></span>
            </p>
            <div class="space-2"></div>
            <h5 class="text-uppercase" style="font-size: 22px">
              {{ t("sectionBlobs.blob3.title") }}
            </h5>
            <p>{{ t("sectionBlobs.blob3.description") }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="space-60"></div>
  </section>
  <!--React Docker WP-Area-->

  <!--Price-section-->
  <section class="relative fix" id="price">
    <div class="section-bg overlay-bg fix">
      <img
        src="../assets/images/bg2.jpg"
        alt="{{ t('priceSection.imageAlt') }}"
      />
    </div>
    <div class="space-80"></div>
    <div class="container">
      <div class="row wow fadeInUp">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center text-white">
          <h3 class="text-uppercase">{{ t("priceSection.title") }}</h3>
          <p>{{ t("priceSection.description") }}</p>
        </div>
      </div>
      <div class="space-60"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 wow fadeInLeft">
          <div class="panel price-table text-center">
            <h3 class="text-uppercase price-title">
              {{ t("priceSection.F1Title") }}
            </h3>
            <hr />
            
            <ul class="list-unstyled">
              <li>
                {{ t("priceSection.FIAT") }}
                <span class="big"
                  ><strong class="amount">{{
                    t("priceSection.F1Price")
                  }}</strong>
                  </span>
                / {{ t("priceSection.F1PriceUnit") }}
              </li>
              <li>{{ t("priceSection.F1Feature1") }}</li>
              <li>{{ t("priceSection.F1Feature2") }}</li>
              <li>{{ t("priceSection.F1Feature3") }}</li>
              <li>{{ t("priceSection.F1Feature4") }}</li>
              <li>{{ t("priceSection.F1Feature5") }}</li>
            </ul>
            
            <hr />
            <a [routerLink]="['/', currentLang]" fragment="contact" class="btn btn-link text-uppercase">{{
              t("priceSection.evaluateButton")
            }}</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 wow flipInY">
          <div class="panel price-table center text-center">
            <h3 class="text-uppercase price-title">
              {{ t("priceSection.F2Title") }}
            </h3>
            <hr />
            
            <ul class="list-unstyled">
              <li>
                {{ t("priceSection.FIAT") }}
                <span class="big"
                  ><strong class="amount">{{
                    t("priceSection.F2Price")
                  }}</strong></span>
                / {{ t("priceSection.F2PriceUnit") }}
              </li>
              <li>{{ t("priceSection.F2Feature1") }}</li>
              <li>{{ t("priceSection.F2Feature2") }}</li>
              <li>{{ t("priceSection.F2Feature3") }}</li>
              <li>{{ t("priceSection.F2Feature4") }}</li>
              <li>{{ t("priceSection.F2Feature5") }}</li>
            </ul>
            
            <hr />
            <a [routerLink]="['/', currentLang]" fragment="contact" class="btn btn-link text-uppercase">{{
              t("priceSection.evaluateButton")
            }}</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 wow fadeInRight">
          <div class="panel price-table text-center">
            <h3 class="text-uppercase price-title">
              {{ t("priceSection.F3Title") }}
            </h3>
            <hr />
            
            <ul class="list-unstyled">
              <li>
                {{ t("priceSection.FIAT") }}
                <span class="big"
                  ><strong class="amount">{{
                    t("priceSection.F3Price")
                  }}</strong></span>
                  / {{ t("priceSection.F3PriceUnit") }}
              </li>
              <li>{{ t("priceSection.F3Feature1") }}</li>
              <li>{{ t("priceSection.F3Feature2") }}</li>
              <li>{{ t("priceSection.F3Feature3") }}</li>
              <li>{{ t("priceSection.F3Feature4") }}</li>
              <li>{{ t("priceSection.F3Feature5") }}</li>
            </ul>
            
            <hr />
            <a [routerLink]="['/', currentLang]" fragment="contact" class="btn btn-link text-uppercase">{{
              t("priceSection.evaluateButton")
            }}</a>
          </div>
        </div>
        <sub class="text-white">{{ t("priceSection.footerNote") }}</sub>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-sm-8 wow flipInY">
          <div class="panel price-table active center text-center">
            <h3 class="text-uppercase price-title">
              {{ t("priceSection.F4Title") }}
            </h3>
            <hr />
            
            <ul class="list-unstyled">
              <li>
                {{ t("priceSection.FIAT") }}
                <span class="big">
                  <strong class="amount">{{ t("priceSection.F4Price") }}</strong>
                </span>
                / {{ t("priceSection.F4PriceUnit") }}
              </li>
              <li>{{ t("priceSection.F4Feature1") }}</li>
              <li>{{ t("priceSection.F4Feature2") }}</li>
              <li>{{ t("priceSection.F4Feature3") }}</li>
              <li>{{ t("priceSection.F4Feature4") }}</li>
              <li><span class="medium">{{ t("priceSection.F4Feature5") }}</span></li>
            </ul>
            
            <hr />
            <a [routerLink]="['/', currentLang]" fragment="contact" class="btn btn-link text-uppercase">{{
              t("priceSection.evaluateButton")
            }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="space-80"></div>
  </section>
  <!-- Price-section/-->

  <!--Client-Section -->
  <section class="gray-bg" id="client">
    <div class="space-80"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <h3 class="text-uppercase">{{ t("clientSection.title") }}</h3>
          <p>{{ t("clientSection.description") }}</p>
        </div>
      </div>
      <div class="space-60"></div>
      <div class="row">
        <a href="https://ftd.com.br" alt="FTD" target="_blank">
          <div
            class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <div class="single-team relative panel fix">
              <img src="../assets/images/client/FTD-logo.png" alt="" />
              <div class="team_details text-center">
                <h5 class="text-uppercase">
                  {{ t("clientSection.clients.ftd") }}
                </h5>
              </div>
            </div>
          </div>
        </a>
        <a href="https://cogna.com.br" alt="cogna" target="_blank">
          <div
            class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp"
            data-wow-delay="0.4s"
          >
            <div class="single-team relative panel fix">
              <img src="../assets/images/client/cogna--600.png" alt="" />
              <div class="team_details text-center">
                <h5 class="text-uppercase">
                  {{ t("clientSection.clients.cogna") }}
                </h5>
              </div>
            </div>
          </div>
        </a>
        <a href="https://www.ambev.com.br" alt="Ambev" target="_blank">
          <div
            class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp"
            data-wow-delay="0.6s"
          >
            <div class="single-team relative panel fix">
              <img
                src="../assets/images/client/ambev-logo-3-47191638.png"
                alt=""
              />
              <div class="team_details text-center">
                <h5 class="text-uppercase">
                  {{ t("clientSection.clients.ambev") }}
                </h5>
              </div>
            </div>
          </div>
        </a>
        <a href="https://www.edocente.com.br/" alt="edocente" target="_blank">
          <div
            class="col-xs-12 col-sm-6 col-md-3 wow fadeInUp"
            data-wow-delay="0.8s"
          >
            <div class="single-team relative panel fix">
              <img src="../assets/images/client/edocente_logo.png" alt="" />
              <div class="team_details text-center">
                <h5 class="text-uppercase">
                  {{ t("clientSection.clients.edocente") }}
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="space-80"></div>
  </section>
  <!--Client-Section/-->

  <!--Video-Section-->
  <section class="section-video relative fix">
    <div class="space-mobile-100"></div>
    <a href="https://www.youtube.com/@f5sites" target="_blank">
      <div class="section-bg overlay-bg alpha"></div>
      <video class="ivideo" id="cvideo">
        <source
          src="http://intimissibd.com/video/background-video.webm"
          type="video/webm"
        />
      </video>
      <div class="section-video-text text-center">
        <button type="button" id="vbutton" class="video-button">
          <span class="ti-control-play"></span>
        </button>
        <div class="space-50"></div>
        <h2 class="text-white">
          {{ t("videoSection.discoverYouTubeChannel") }}
        </h2>
      </div>
    </a>
  </section>
  <!--Video-Section/-->

  <section class="relative fix" id="contact">
    <!-- <img src="../assets/images/europe2.webp" width="100%" alt="{{ t('contactSection.imageAlt') }}" /> -->
    <div class="section-bg overlay-bg fix">
      <img
        src="../assets/images/europe2.webp"
        alt="{{ t('contactSection.imageAlt') }}"
      />
    </div>
    <div class="container">
      <div class="row">
        <div class="space-40"></div>
        <div class="DDDoffset-top">
          <div class="col-xs-12 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="well well-lg">
              <h3>{{ t("contactSection.contactTitle") }}</h3>
              <div class="space-20"></div>
              <!-- Formulário de Captura -->
              <app-lead-form></app-lead-form>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="well well-lg">
              <h3>{{ t("contactSection.bookFreeCallTitle") }}</h3>
              <div class="space-20"></div>
              <p>{{ t("contactSection.bookFreeCallDescription") }}</p>
              <p>{{ t("contactSection.location") }}</p>

              <div class="space-25"></div>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="border-icon sm">
                        <span class="ti-headphone"></span>
                      </div>
                    </td>
                    <td>
                      <a href="callto:+59">{{
                        t("contactSection.phoneSupport")
                      }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="border-icon sm">
                        <span class="ti-email"></span>
                      </div>
                    </td>
                    <td>
                      <a href="mailto:francisco@f5sites.it">{{
                        t("contactSection.emailSupport")
                      }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="border-icon sm">
                        <span class="ti-location-pin"></span>
                      </div>
                    </td>
                    <td>
                      <address>{{ t("contactSection.address") }}</address>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <app-language-selector
                  class="flex justify-center flex-1 sm:order-first order-2 mt-5 sm:my-0"
                ></app-language-selector>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<app-footer></app-footer>
